.shopping-cart {
    flex: 1;
    width: 400px;
    align-items: center;
    padding: 0 20px;
    margin: 20px auto;
  }
  
  .shopping-cart-title {
    text-align: center;
  }
  
  .cart-items {
    list-style: none;  
    padding: 10px;
    background-color: #b4e1e2;
    border: #364f51;
    border-radius: 5px;
  }
  
  .cart-item {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .remove-item-btn {
    background-color: #dc3545;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .clear-cart-btn { 
    display: block;  /* block display allows to apply margin properties */
    margin: 20px auto;
    background-color: #264c4e;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
  }